@model GuardingUS.Models.ViewModels.EditUserVM;
@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>

<form asp-action="Update">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label asp-for="RoleId" class="form-label"></label>
            <select asp-for="RoleId" asp-items="Model.Roles" class="form-select"></select>
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>

    
</form>